<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="com.test.psk.demo.board">
    <select id="selectList" resultType="com.test.psk.demo.board.BoardVO">
        SELECT  NO
        , TITLE
        , CONTENTS
        , WRITER
        , CREATE_DATE
        , UPDATE_DATE
        FROM BOARD
        ORDER BY CREATE_DATE DESC
    </select>

    <select id="get" resultType="com.test.psk.demo.board.BoardVO">
        SELECT  NO
                , TITLE
                , CONTENTS
                , WRITER
                 CREATE_DATE
                , UPDATE_DATE
        FROM BOARD
        WHERE NO = #{no}
    </select>

    <insert id="create">
        INSERT INTO BOARD (
            TITLE
            , CONTENTS
            , WRITER
            , CREATE_DATE
            , UPDATE_DATE
        ) VALUES (
            #{title}
            , #{contents}
            , #{writer}
            , NOW()
            , NOW()
        )
    </insert>

    <update id="update">
        UPDATE BOARD
        SET
            TITLE           = #{title}
            , CONTENTS      = #{contents}
            , WRITER        = #{writer}
            , CREATE_DATE   = NOW()
            , UPDATE_DATE   = NOW()
        WHERE NO            = #{no}
    </update>

    <delete id="delete">
        DELETE
        FROM BOARD
        WHERE NO = #{no}
    </delete>
</mapper>
